# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
# editorconfig会在不同文件不同项目间寻找设置根目录
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8 

indent_style = tab

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[*.json]
indent_style = space
indent_size = 2